
.nev{
    color: brown;
    height: 80px;
    
   
  
}

.nev img{
    height: 40px;
    width: 40px;
}
.main{
    display: flex;

    gap: 15%;
    
    
}

.u{
    width:80%;
}
.u ul{
  display: flex;
   gap: 4%;
   margin-top:40px;
   list-style: none;
   font-size:20px;
   
}

.nn{
    width: 20%;
}
.nm{
    display: flex;
    margin-left: 40px;
    gap:10px;
}
.nn{
    height: 30px;
    width: 80px;
    font-family: Open Sans, sans-serif;
    font-weight: 500;
    font-size:15px;
}